<div class="container">

  <h1>All Cocktails</h1>


  <div class="cocktail-card-group">
    <% @cocktails.each do |c| %>

      <%= link_to cocktail_path(c) do %>
        <h5 class="cocktail-card"><%= c.name %></h5>
      <% end %>

    <% end %>
  </div>

  <%= link_to new_cocktail_path do %>
    <div class="btn btn-light">Make new cocktail</div>
  <% end %>

</div>
