<div class="container">

  <h1 style="margin:5px;">create your cocktail....</h1>


  <%= link_to new_cocktail_path do %>
    <p class="new-cocktail"> <i class="fas fa-cocktail"></i></p>
  <% end %>

  <hr>

  <h3 style="margin:5px;">or choose one of these...</h3>

  <div class="cocktail-card-group">
    <% @cocktails.each do |c| %>

      <%= link_to cocktail_path(c) do %>
        <h5 class="cocktail-card"><%= c.name %></h5>
      <% end %>

    <% end %>
  </div>



</div>


