.cocktail-card-group {
  display: flex;

}

.cocktail-card {
  background-color: #EB3158;
  margin: 5px;
  width: 200px;
  height: 75px;
  text-decoration: none;
  color: white;
  text-align: center;
  padding: 25px;

}
